<div>
    <div>
        <h3>{{pageTitle}}</h3>
    </div>

    <p-growl [sticky]="false" [life]="5000" [(value)]="messages"></p-growl>
    <p-confirmDialog width="450"></p-confirmDialog>

    <div style="margin-top:15px; margin-right: 25px" class="content-table">
        <table class="table client table-responsive">
            <thead>
                <tr>
                    <th class="col-md-1 col-sm-1 col-xs-1">Lp.</th>
                    <th class="col-md-3 col-sm-3 col-xs-3">Typ</th>
                    <th class="col-md-2 col-sm-2 col-xs-2">Ilość pokoji</th>
                    <th class="col-md-3 col-sm-3 col-xs-3">Powierzchnia</th>
                    <th class="col-md-1 col-sm-1 col-xs-1"></th>
                    <th class="col-md-1 col-sm-1 col-xs-1"></th>
                    <th class="col-md-1 col-sm-1 col-xs-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let property of properties let i = index" [attr.data-index]="i">
                    <td class="col-md-1 col-sm-1 col-xs-1">{{i+1}}</td>
                    <td class="col-md-3 col-sm-3 col-xs-3">{{property.type === 0 ? "Dom" : "Mieszkanie"}}</td>
                    <td class="col-md-2 col-sm-2 col-xs-2">{{property.rooms}}</td>
                    <td class="col-md-3 col-sm-2 col-xs-3">{{property.area}} m<sup>2</sup></td>
                    <td class="col-md-1 col-sm-1 col-xs-1"><button class="btn btn-primary" (click)="getProperty(property.id)">Szczegóły</button></td>
                    <td class="col-md-1 col-sm-1 col-xs-1"><button class="btn btn-success" (click)="updateProperty(property.id)">Aktualizuj</button></td>
                    <td class="col-md-1 col-sm-1 col-xs-1"><button class="btn btn-danger" (click)="deleteProperty(property.id)">Usuń</button></td>
                </tr>
                <tr *ngIf="properties.length == 0">
                    <td style="text-align: center" colspan="8"><p-progressSpinner [style]="{width: '40px', height: '40px'}"></p-progressSpinner></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
